/* Add a gray background color and some padding to the footer */
footer {
  background-color: #f2f2f2;
  padding: 25px;
  font-size: 20px;
}

.container{
  margin-top: 51px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container a{
  color: rgb(91 192 222);
  font-weight: bold;
}

.container a p{
  padding-top: 10px;
}

.container a:hover{
  text-decoration: none;
}

.div_produits{
  margin: 10px;
  text-align: center;
  font-size: 20px;
  width: 300px;
  border: 1px solid #818181;
  border-radius: 1%;
  box-shadow: 3px 3px 0px 1px #818181;
}

.div_produits:hover{
  cursor: pointer;
  border: 2px solid rgb(91 192 222);
  box-shadow: 4px 4px 2px 2px rgb(91 192 222);
}

.div_produits img{
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.panier1{
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
}

.panier2{
  display: flex;
  margin-bottom: 10px;
}

.panier4{
  display: flex;
  flex-direction: row;
  vertical-align: middle;
}

.panier5 p{
  margin: 0 10px 0 0;
  font-weight: normal;
}
.panier5{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.panier4 select{
  width: 51px;
}

.panier3{
  flex-direction: column;
  margin: 10px 0 10px 10px;
  white-space:nowrap;
  font-size: 15px;
  font-weight: normal;
  text-align: left;
  font-weight: bold;
}

.connexion{
  margin-top: 51px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.btn-success{
  background-color: rgb(91 192 222);
  border-color: rgb(87, 184, 214);
}

.btn-success:hover{
  background-color: rgb(64, 136, 158);
  border-color: rgb(58, 123, 143);
}